* {
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: "Winky Rough", sans-serif;
  background-image: url(derr.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
header {
  margin: auto;
  border-radius: 15px;
  text-align: center;
}
h1 {
background-color: aqua;
border-radius: 10px;
padding: 10px;
font-size: 50px;
}
p {
color: white;
font-size: 30px;
margin: auto;
padding: 10px;
}
main {
  display: flex;
  flex-direction: column;
}
#postal {
  background-color: aqua;
  border: 2px solid aqua;
  text-align: center;
  margin: 20px auto;
  border-radius: 15px;
  padding: 10px;
}
#postal_form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#postal_form input, #postal_form select {
  min-width: 280px;
}
.commune {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
#validationButton {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
#communeSelect {
  display: block;
  margin-top: 10px;
  padding: 5px;
  z-index: 999;
}
label {
font-size: 25px;
}
#code-postal {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 20px;
  border-radius: 5px;
}
#weatherInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 80%;
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
}
#weatherInformation div {
  text-align: center;
  margin: 10px 5px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(0, 255, 255, 0.8);
}
.reloadButton {
  width: 280px;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
